# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
INTER.env/
.env/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Testing
.pytest_cache/

# Models (future)
models/

# Database
*.db